#container{
    border: none;
    border-radius :20px;
    width:400px;
    margin:20px auto;
    padding:20px;
    text-align:center;
    background : #d7d3d3;
    backdrop-filter: blur(4px); /* Размываем фон */
    background: rgba(255,255,255,0.4);
  }
  
  #timer{ 
    /* color:#f00;  */
    font-size:50px; 
    margin:10px auto;
    /* border : 5px solid red; */
    border-radius:50%;
    width:200px;
    height:200px;
    overflow:hidden;
    position:relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
  }
  
  #time{
    margin-top:70px;
    z-index : 1;
    position:relative;
  }
  
  #filler{
    background : #ddffcc;
    height: 0px;
    width: 200px;
    position:absolute;
    bottom:0;
  }
  
  #buttons button { 
    background:#4da6ff; 
    border:none; 
    color:#fff; 
    cursor:pointer; 
    padding:5px; 
    width:90px; 
    margin:10px auto;
    font-size:14px;
    height : 50px;
    border-radius : 10px;
  }
  
  #buttons button#work{
    background-color: rgb(80, 233, 80);
  }

  #buttons button#reset{
    background-color: gray;
  }

  #buttons button#stop{
    background : #f00;
  }
  

  #pomodoro-app{
    margin-top: 120px;
  }

  body{
    background: no-repeat;
        background-image: url(https://jooinn.com/images/beauty-of-nature-9.jpg);
        background-repeat: no-repeat;
        background-size: cover;
  }